body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
    background-color: #1C1C65;
    margin: 0px;
    padding: 0;
    overflow: hidden;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2954A3;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #646464;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#red-social-icons {
    transition: margin-left .5s;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#red-social-icons>span {
    font-family: 'Roboto', sans-serif;
    padding: 14px;
    align-items: center;
    color: white;
}

#red-social-icons span:hover {
    color: #7c7a7a;
}

#red-social-icons>.social-icons{
    display: inherit;
}

#red-social-icons>.social-icons>h2 {
    color: white;
    justify-content: space-between;
    padding: 14px;
}

#red-social-icons>.social-icons ul {
    display: inline-flex;
    list-style: none;
}

#red-social-icons .social-icons ul > li {
    margin-inline: 24px;
}

#title-section {
    display: flex;
}

.short-inf {
    display: inherit;
    margin: 0;
}

#title-section img {
    display: block;
    margin: auto;
    position: fixed;

    z-index: -1;
    margin-left: 12%;
    margin-top: 24px;
    height: 75%;
    border-radius: 150%;
    opacity: 0.5;
}

#title-section h1 {
    display: block;
    position: fixed;

    margin-left: 25%;
    margin-top: 10%;

    font-size: 44px;
    letter-spacing: 2px;
    color: white;
}

#title-section h1:first-letter {
    font-size: 300%;
    color: white;
}

#title-section p {
    display: block;
    position: fixed;

    margin-left: 42%;
    margin-top: 21%;

    font-size: 30px;
    letter-spacing: 2px;
    color: rgb(222, 220, 252);
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}